<div class="container mt-5">
    <br />
    <div class="row">
      <div class="col">
        <h4 class="mb-0">Person <b>Details</b></h4>
      </div>
    </div>
    <br />
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
                <h4 class="mb-0">{{ person?.name }}</h4>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Email:</b> {{ person?.email }}</li>
        <li class="list-group-item"><b>Phone Number:</b> {{ person?.phoneNumber }}</li>
      </ul>
    </div>
  </div>