<div class="container mt-5">
    <br />
    <div class="row">
      <div class="col">
        <h4 class="mb-0">Create <b>Person</b></h4>
      </div>
    </div>
    <br />
    <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">
   
      <div class="form-group">
        <label for="name">Name:</label>
        <input formControlName="name"
               id="name"
               type="text"
               class="form-control" />
      </div>
   
      <div class="form-group">
        <label for="phoneNumber">Phone number:</label>
        <input formControlName="phoneNumber"
               id="phoneNumber"
               type="text"
               class="form-control" />
      </div>
   
      <div class="form-group">
        <label for="email">Email:</label>
        <input formControlName="email"
               id="email"
               type="email"
               class="form-control" />
      </div>
   
      <button class="btn btn-primary" type="submit" [disabled]="!createForm.valid">Create</button>
    </form>
  </div>